{% extends "layout.html"%}
{% block body %}
<script>
    var container = document.getElementsByClassName("container")[0];
    container.onkeyup = function(e) {
        var target = e.srcElement;
        var maxLength = parseInt(target.attributes["maxlength"].value, 10);
        var myLength = target.value.length;
        if (myLength >= maxLength) {
            var next = target;
            while (next = next.nextElementSibling) {
                if (next == null)
                    break;
                if (next.tagName.toLowerCase() == "input") {
                    next.focus();
                    break;
                }
            }
        }
    }
</script>
{% for error in form.errors %}<p class=error><strong>Error:</strong> <b><u>{{ error }}</u></b> {{form.errors[error][0]}}</p>{%endfor%}
<form action="{{url_for('index')}}", method="post">
	{{form.hidden_tag()}}
	<h3 class="pan"><label>PAN</label>{{form.pana(maxlength=4, size=4)}}{{form.panb(maxlength=4, size=4)}}{{form.panc(maxlength=4, size=4)}}{{form.pand(maxlength=4, size=4)}}</h3>
	<h3><label>Expiry (mm/yy)</label>{{form.expmon(maxlength=2, size=2)}}/{{form.expyear(maxlength=2, size=2)}}</h3>
	<h3>{{form.name.label}}{{form.name}}</h3>
	<h3>{{form.CV2.label}}{{form.CV2(maxlength=3, size=3)}}</h3>
	<h3>{{form.reference.label}}{{form.reference}}</h3>
	<h3>{{form.amount.label}}{{form.amount}}</h3>
	<br/><br/>
	<input type="submit" value="Submit card">
</form>
{% endblock %}