<!DOCTYPE html>
<html>
<head>
	<title>Hugh's Magical Card Entry</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	{% for message in get_flashed_messages() %}
		<h3 id="flash">{{ message }}</h3>
	{% endfor %}
	{% if session.get('username')=='admin'%}
	<ul id="menu">
		<li><a href="{{url_for('list')}}">List current information</a></li>
		<li><a href="{{url_for('create')}}">create zips for all current entries</li>
		<li><a href="{{url_for('change')}}">Change Zip Password</a></li>
		<li><a href="{{url_for('new_user')}}">Create New User</a></li>
		<li><a href="{{url_for('pword')}}">Change password</a></li>
		<li><a href="{{url_for('date')}}">Change Validation</a></li>
		<li><a href="{{url_for('logout')}}">Logout</a></li>
		<li><a href="{{url_for('index')}}">Index</a></li>
		<li><a href="{{url_for('list_users')}}">List users</a></li>
	</ul>
	{% else %}
		{%if session.get('logged_in')%}
		<ul id="menu">
			<li><a href="{{url_for('pword')}}">Change password</a></li>
			<li><a href="{{url_for('logout')}}">Logout</a></li>
			<li><a href="{{url_for('index')}}">Index</a></li>
		</ul>
		{% endif %}
	{% endif %}
	{% block body %}
	{% endblock %}
</body>
</html>